
# Server
HOST=0.0.0.0
PORT=1337
PUBLIC_URL=http://localhost:1337
STRAPI_TELEMETRY_DISABLED=true

# Secrets
APP_KEYS=replace-with-comma-separated-app-keys
API_TOKEN_SALT=replace-with-api-token-salt
ADMIN_JWT_SECRET=replace-with-admin-jwt-secret
TRANSFER_TOKEN_SALT=replace-with-transfer-token-salt
ENCRYPTION_KEY=replace-with-encryption-key
JWT_SECRET=replace-with-jwt-secret
GOOGLE_API_KEY=replace-with-google-api-key
TWILIO_SENDGRID_API_KEY=replace-with-sendgrid-api-key
TWILIO_SENDGRID_FROM_EMAIL=no-reply@example.com
NOTIFICATION_TRIGGER_TOKEN=replace-with-notification-trigger-token
EMAIL_TRIGGER_TOKEN=replace-with-email-trigger-token
SLOTS_SYNC_TOKEN=replace-with-slots-sync-token

FIREBASE_TYPE=service_account
FIREBASE_PROJECT_ID=replace-with-firebase-project-id
FIREBASE_PRIVATE_KEY_ID=replace-with-firebase-private-key-id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nreplace-with-private-key\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=replace-with-firebase-client-email
FIREBASE_CLIENT_ID=replace-with-firebase-client-id
FIREBASE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
FIREBASE_TOKEN_URI=https://oauth2.googleapis.com/token
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
FIREBASE_CLIENT_X509_CERT_URL=https://www.googleapis.com/robot/v1/metadata/x509/replace-with-firebase-client-email
FIREBASE_UNIVERSE_DOMAIN=googleapis.com

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=strapi_demo_db
DATABASE_USERNAME=strapi_user
DATABASE_PASSWORD=replace-with-database-password
DATABASE_SSL=false
DATABASE_FILENAME=
